
.markdown {

  padding: 1em;

  font-family: Segoe UI;

  h1, h2, h3 {
    font-weight: 300;
    padding: 3px 10px;
  }

  h1 {
    border-bottom: 3px double #ddd;
    font-size: 21px;

    &:not(:first-child){
      -webkit-margin-before: 1.67em; // default is 0.67em;
    }

  }
  
  h2 {
    font-size: 18px;
    padding: 3px 16px;
    border-bottom: 1px solid #ddd;
  }

  h3 {
    padding: 3px 16px;
  }

  hr {
  }

  & code {
    font-family: consolas;
  }

  pre {
    background: #cef;
    color: #333;
    padding: 7px 10px;
    border-radius: 3px;
    font-size: 13px;
  }

  p {
    padding: 3px 10px;
    code {
      background: #cef;
    }
  }

}


