
.markdown {

  padding: 1em;

  font-family: Segoe UI;

  h1, h2, h3 {
    font-weight: 300;
    border-bottom: 1px solid #ddd;
  }

  h2 {
    padding: 3px 10px;
  }

  hr {
    // width: 1px;
  }

}


