* {
  box-sizing: border-box;
}

html, body {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: consolas;
  font-size: 14px;
}

#main-window {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow:hidden;
}

#terminal-container {
  position: relative;
  padding: 0;
  margin: 0;
}

@import "terminal.less";
@import "terminal-overlay.less";
@import "tab-panel.less";
@import "editor.less";
@import "splitter-window.less";
@import "dialog.less";

