
.terminal-child {
  // display:none; // default
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}

.xterm-graphic {
  border-radius: 3px;
  border: 1px solid #999;
  margin-left: 1em;
}
