
.xterm-annotation-node {
  border: 1px solid #ccc;
  margin-left: 1em;
  box-shadow: 0px 5px 12px 0px rgba(0,0,0,.25);

  // we raise these nodes above the xterm mouse event
  // layer, so we can get graphics as targets on right
  // clicks (context menu). not sure what the actual
  // z-index of the mouse layer is, or if it's constant.

  z-index: 4;
}

// sigh

.terminal-child {
  position: absolute;
  top: 0px;
  left: 0px; // left: .5em; // this bumps up against the separator. 
  right: 0px;
  bottom: 0px;
  overflow: hidden;

  &>div {
    position: absolute;
    top: 0px;
    left: .5em; // this bumps up against the separator. 
    right: 0px;
    bottom: 0px;
    overflow: hidden;
  }

}

.xterm-graphics-node {

  /* 
   * we want to guarantee the size of the canvas, otherwise it will 
   * be scaled and look fuzzy, particularly text
   */
  box-sizing: content-box;
}
